[Desktop Entry]
Type=Application
Name=Pi Display
Exec=/bin/bash -c 'if [ -x /var/www/demtab/launch-display.sh ]; then /var/www/demtab/launch-display.sh; else /var/www/launch-display.sh; fi'
X-GNOME-Autostart-enabled=true
